# Supabase
SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_SERVICE_KEY=eyJ...

# JWT
JWT_SECRET=tu_clave_secreta_muy_larga_aqui

# MATIAS API (Sandbox)
MATIAS_URL=https://sandbox-api.matias-api.com/api/ubl2.1
MATIAS_EMAIL=tu@email.com
MATIAS_PASSWORD=tu_password_sandbox

# App
PORT=3000
NODE_ENV=development
